@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'poppins', sans-serif;
}

.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header{
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 1px 0.3rem #cccccccc;
  z-index: 100;
}

.Header .container{
  line-height: 80px;
}
.Header .logo{
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  font-weight: 700;
}

.Header .logo img{
  width: 30px;
  height: 30px;
}
.Header .container .gnb{
  display: flex;
  gap: 30px;
}
.Header .container .gnb>li>a{
  font-weight: 600;
  cursor: pointer;
}

.Header .container .gnb>li>a:hover{
  color: #665ad4;
}

.Header .container .gnb .micons{
  display: none;
}

.Header .container .mopen{
  display: none;
  font-size: 21px;
}

.Home{
  padding: 180px 0 100px 0;
}

.Home .container {
  gap: 50px;
  justify-content: center;
}

.Home .container .left,
.Home .container .right{
  flex: 1;
}

.Home .container .left {
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px #333333;
}

.Home .container .left img{
  width: 100%;
  height: 100%;
}

.Home .container .right span {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: #808080;
}

.Home .container .right h2{
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 20px;
}

.Home .container .right p{
  opacity: 0.8;
  font-size: 21px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.Home .container .more{
  width: 180px;
  text-align: center;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 400;
  border: 3px solid #665ad4;
  background: #665ad4;
  color:#ffffff;
  box-shadow: 0 0 3px #665ad4;
  padding: 8px 10px;
}

.Archiving,
.Projects,
.Contact{
  padding: 100px 0;
}

.Archiving{
  background: #f9f9f9;
}

.Archiving h2,
.Contact h2,
.Projects h2{
  display: inline-block;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 50px;
  border-bottom: 4px solid #665ad4;
  padding-bottom: 15px;
}


.Archiving h2::after{
  width: 180px;
}

.Archiving .container .inbox{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:50px
}

.Archiving .container .inbox>div{
  border: 4px solid #665ad4;
  padding: 40px;
  border-radius: 20px;
  background: #fff;
  width: 70%;
}

.Archiving .container .inbox h3{
  font-size: 35px;
  margin-bottom: 30px;
}

.Archiving .container .inbox .add{
  display: block;
  margin-bottom: 20px;
  text-decoration: underline;
  color: #665ad4;
}

.Archiving .container .inbox .icon{
  margin-right: 10px;
}

.Archiving .container .inbox p {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 30px;
}

.Archiving .container .inbox li::before{
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background: #222;
  vertical-align: middle;
  margin-right: 7px;
}

.Archiving .container .inbox li{
  margin-bottom: 15px;
}

.Projects .container .pmenu{
  font-size: 20px;
  justify-content: flex-start;
  gap: 40px;
}

.Projects .container button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}
.Projects .container .tabmenu.on{
  color: #665ad4;
}

.Projects .container .multiple {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.Projects .container .multiple .single .simg{
  position: relative;
  width: 100%;
  height: 35vh;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
.Projects .container .multiple .single img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: 3s;
}
.Projects .container .multiple .single img:hover {
  transform: translateY(-100%);
  top: 100%;
}
.Projects .container .multiple .single p {
  font-size: 15px;
  font-weight: 500;
  text-align: center;

}

.Contact{
  padding: 100px 0 50px 0;
  background: #f9f9f9;
}


.Contact .container .shadow{
  max-width: auto;
/*   box-shadow: 5px 10px 8px rgb(0 0 0 / 0.04), 0 4px 40px rgb(0 0 0 / 0.1); */
  padding: 20px 0;
}

.Contact .container .shadow .clists {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin-bottom: 40px;
}

.Contact .container .shadow .clists .clist {
  max-width: 700px;
  padding: 10px;
  flex-direction: column;
  margin-bottom: 15px;
}

.Contact .container .shadow .clists .clist .cicon{
  color: #665ad4;
  margin-bottom: 17px;
  font-size: 25px;
}

.Contact .container .shadow .clists .clist .ctext {
  opacity: 0.8;
  font-size: 18px;
  color: #000000;
}

.Contact .container .shadow h3{
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 30px;
} 

.Contact .container .shadow form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact .container .shadow form input,
.Contact .container .shadow form textarea{
  background: transparent;
  outline: none;
  border: 1px solid rgba(102, 90, 212, 0.5);
  font-size: 16px;
  margin-bottom: 20px;
  padding: 15px;
  width: 50%;
  border-radius: 10px;
}

.Contact .container .shadow form textarea{
  height: 30vh;
  resize: none;
  margin-bottom: 25px;
}

.Contact .container .shadow form input:nth-child(3){
  margin-bottom: 35px;
}

.Contact .container .shadow form input:last-child { 
  border: 1px solid #847adc;
  background: #847adc;
  color: #ffffff;
}
.Contact .container .shadow form input:focus-within,
.Contact .container .shadow form textarea:focus-within {
  border: 2px solid rgb(87, 42, 203);
}

.Contact .container .shadow form input:last-child:hover{
  background: #665ad4;
  color: #fff;
  border: 1px solid #665ad4;
  
}

.Contact .container .shadow .last{
  text-align: center;
  font-size: 19px;
  color: #a8a8a8;
  margin-top: 30px;
  line-height: 1.3;
}
.Footer{
  padding: 20px 0;
  color: #5d5d5d;
}

.Footer .container .right span{
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  color: #939393;
}

.Totop{
  position: fixed;
  bottom: 70px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: #665ad4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
}

.Totop i{
  font-size: 20px;
  color: #fff;
}




/* 
.Footer{
  box-shadow: 0 -2px 3px #cccccccc;
  padding: 10px 20px;
}
 */
@media (max-width:1120px) {
  .Projects .container .multiple .single .simg {
    height: 30vh;
  }  
}
@media (max-width:970px) {
  .Projects .container .multiple .single .simg {
    height: 25vh;
  }  
}

@media (max-width:940px){
  .Archiving .container .inbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px
  }

}
@media (max-width:830px) {
  .Projects .container .multiple .single .simg {
    height: 23vh;
  }
}

@media (max-width:768px){

  .Header .container {
    line-height: 80px;
    padding: 0 30px;
  }
  
  .Header .container nav .gnb{
    position: fixed;
    top: 80px;
    left: -100%;
    background: rgba(0, 0, 0, 0.9);
    background: #ffffff;
    color: #ffffff;
    color: #5d5d5d;
    width: calc(100% - 120px);
    height: 100vh; 
    flex-direction: column;
    gap: 10px;
    padding: 100px 15px 0 60px ;
    transition: left 0.5s;
    z-index: 30;
  }


  .Header .container nav .gnb.on {
    left: 0;
  }

  .Header .container .gnb .micons {
    display: inline-block;
    margin-right: 13px;
    font-size: 30px;
  }

  .Header .container .mopen{
    display: block;
    font-size: 27px;
  }
  .Header .container .gnb>li{
    font-size: 30px;
    line-height: 80px;
  }

  .Header .container .gnb>li>a:hover {
    color: #a88ff4;
  }

  .Home .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(1fr));
    place-items: center;
    gap: 50px;
  }

  .Home .container .left {
    width: 450px;
    height: 450px;
  }

  .Home .container {
    text-align: center;
  }

  .Home .container .right span {
    font-size: 18px;
  }

  .Home .container .right h2 {
    font-size: 40px;
  }

  .Home .container .right p {
    font-size: 17px;
    line-height: 1.3;
    margin-bottom: 15px;
  }
  
  .Home .container .right .more{
    margin: 0 auto;
  }
  .Archiving .container.center,
  .Projects .container.center,
  .Contact .container.center{
    text-align: center;
  }
  .Archiving h2,
  .Projects h2,
  .Contact h2 {
    font-size: 30px;
    margin-bottom: 50px;
  }


  .Archiving .container .inbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px
  }

  .Archiving .container .inbox>div {
    width: 85%;
  }


  .Archiving .container .inbox p,
  .Archiving .container .inbox li {
    font-size: 15px;
  }

  .Projects .container .pmenu {
    font-size: 18px;
    gap: 30px;
    justify-content: center; 
  }

  .Projects .container .multiple {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }


  .Projects .container .multiple .single .simg {
    height: 30vh;
  }

  .Contact .container .shadow .clists {
    grid-template-columns: repeat(2, minmax(0, 3fr));
    margin-bottom: 50px;
  }

  .Contact .container .clist{
    flex-direction:row;
    margin-bottom: 10px;
  } 

  .Contact .container .shadow .clists .clist {
    margin-bottom: 10px;
  }

  .Contact .container .shadow form input,
  .Contact .container .shadow form textarea {
    width: 80%;
  }
  .Contact .container .shadow form textarea{
    margin-bottom: 25px;
  }

  .Totop {
    position: fixed;
    bottom: 60px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: #665ad4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    z-index: 20;
  }

  .Totop i {
    font-size: 20px;
    color: #fff;
  }
}

@media (max-width:640px){
  .Projects .container .multiple{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}